<div class="col-md-10 offset-md-1 mt-5">
  <%= render "shared/notice" %>
  <div class="row">
    <div class="col-md-4 mb-4">
      <%= show_car_image @car %>
    </div>
    <div class="col-md-8">
      <h2><%= @car.name %></h2>
      <ul>
        <li><b><%= t ".price" %>:</b><%= t(".price_yen", price: (number_with_delimiter @car.price)) %></li>
        <li><b><%= t ".release_date" %>:</b><%= @car.release_date %></li>
      </ul>
    </div>
  </div>
  <hr>
  <h4><%= t ".description" %></h4>
  <%= simple_format @car.description %>
  <%= link_to t(".edit"), edit_car_path(@car), class: "btn btn-primary" %>
  <%= link_to t(".return"), cars_path, class: "btn btn-secondary" %>
</div>