<div class="col-md-8 offset-md-2 mt-5">
  <h2 class="text-center"><%= t ".title" %></h2>
  <div>
    <% if @review.user.avatar.attached? %>
      <%= image_tag @review.user.avatar.variant(resize: "60x60"), class: "img-thumbnail" %>
    <% else %>
      <%= image_tag "no_image.png", class: "img-thumbnail", width: 60 %>
    <% end %>
    <span><%= @review.user.nick_name %></span>
  </div>
  <hr>
  <div>
    <div>
      <span class="text-warning"><%= "★" * @review.evaluation %></span>
      <b><%= @review.title %></b>
    </div>
    <small><%= @review.created_at.strftime("%Y年%m月%d日") %></small>
  </div>
  <%= simple_format @review.body %>
</div>